In [1]:
print('this my first python program')

this my first python program

In [2]:
print('This is my first program)

SyntaxError: EOL while scanning string literal (<ipython-input-2-9211ac34082b>, line 1)

In [4]:
#my name is sandeep

In [5]:
'''my name is sandeep 
and i'm a data scientist'''

"my name is sandeep \nand i'm a data scientist"

In [6]:
a = 10

In [7]:
a

10

In [8]:
type(a)

int

In [9]:
b = 'sudh'

In [10]:
b

'sudh'

In [11]:
type(b)

str

In [12]:
print(a,b,'datascience')

10 sudh datascience

In [13]:
a = 45
b= 'sand'

In [14]:
a,b = 45,'sand'

In [16]:
a

45

In [17]:
b

'sand'

In [18]:
a,b

(45, 'sand')

In [20]:
 print(a,b)

45 sand

In [22]:
1b = 'sand' #variable name cannot start with number

SyntaxError: invalid syntax (<ipython-input-22-eba881a6c6bd>, line 1)

In [23]:
@d = 'sand'

SyntaxError: invalid syntax (<ipython-input-23-6057c9b2ad39>, line 1)

In [24]:
_b = 'sandeep'

In [25]:
_b

'sandeep'

In [26]:
b& = 'sand'

SyntaxError: invalid syntax (<ipython-input-26-1e887b50268f>, line 1)

In [27]:
name = 'sandeep'
userid = 'in001'
password = 'sandeep001'
email = 'sandeep@gmail.com'

In [28]:
print(name,userid,password,email)

sandeep in001 sandeep001 sandeep@gmail.com

In [29]:
a = 1.6

In [30]:
type(a)

float

In [31]:
type(True)

bool

In [32]:
c = False

In [33]:
type(c)

bool

In [34]:
True + True + True + False + True

4

In [35]:
False - True + True

0

In [36]:
 True / False

ZeroDivisionError: division by zero

In [38]:
import numpy as np

In [47]:
a = np.array(10)
b = np.array(0)

In [48]:
a

array(10)

In [49]:
b

array(0)

In [51]:
a/b

<ipython-input-51-aae42d317509>:1: RuntimeWarning: divide by zero encountered in true_divide
  a/b

inf

In [54]:
n = 45 + 6j

In [55]:
type(n)

complex

In [56]:
n.real

45.0

In [58]:
n.imag

6.0

In [59]:
m = 56 + 8j

In [60]:
m * n

(2472+696j)

In [61]:
1 + 'sand'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [62]:
'1' + 'sand'

'1sand'

In [63]:
str(1) + 'sand'

'1sand'

In [64]:
 1 + 1.0

2.0

In [65]:
'sand' + 'sand' + 'sand'

'sandsandsand'

In [66]:
'sand'  * 3

'sandsandsand'

In [67]:
a = int(input())

10

In [68]:
a

10

In [69]:
a = int(input('Enter the integer:'))
b = int(input('Enter the integer:'))
c = int(input('Enter the integer:'))

Enter the integer:5
Enter the integer:10
Enter the integer:15

In [74]:
o = (a+b)/c
o

1.0

In [75]:
o1 = (o + 5+6j)
o1

(6+6j)

In [73]:
str(o1) + 'sand'

'(6+6j)sand'

In [81]:
a = int(input('Enter a number less than 34: '))

Enter a number less than 34: 12

In [83]:
a = int(input('Enter a number less than 34: '))
if a < 34:
    print('Data input is lesser than 34 and im fine fine with it')
else:
    print('Data is not lesser than 34')

Enter a number less than 34: 52
Data is not lesser than 34

In [85]:
salary = int(input('Enter your salary'))
if salary > 1000:
    print('i will buy a car')
elif salary > 500:
    print('i will buy a bike')
elif salary > 100:
    print('i will not buy anything')
else:
    print(' i will go for saving')

Enter your salary4
 i will go for saving

In [87]:
salary = int(input('Enter your salary'))
if salary > 1000:
    print('your salary is good')
    if salary < 5000:
        print('i will go with a car maruthi')
    elif salary < 10000:
        print(' i will go with Tata')
    elif salary < 50000:
        print('i will go with benz')
    else:
        print(' i will go with tesla')
elif salary > 500:
    print('i will buy a bike')
elif salary > 100:
    print('i will not buy anything')
else:
    print(' i will go for saving')

Enter your salary500000
your salary is good
 i will go with tesla

In [88]:
'sand'

'sand'

In [89]:
a = '''i am sandeep
i want to be a data scientist'''

In [90]:
a

'i am sandeep\ni want to be a data scientist'