In [2]:
a = 10
b = 22
a+b

32

In [3]:
def sum(a,b):
    return a+b

In [4]:
sum(1,3)

4

In [5]:
sum('sand','boya')

'sandboya'

In [6]:
sum

In [7]:
  sum(45,56)

101

In [8]:
def test1(b,n):
    return b*n

In [10]:
test1(5,6) + 6

36

In [11]:
type(test1(5,6))

int

In [12]:
 def test2(a,b,c):
        return a + b

In [14]:
test2(6,5,1)

11

In [16]:
def test3(n,m):
    return n*10,m*40

In [18]:
type(test3(5,10))

tuple

In [19]:
c,x = test3(5,4)

In [20]:
c

50

In [21]:
x

160

In [27]:
c,_ = test3(5,4)

In [28]:
c

50

In [29]:
_

160

In [30]:
def test():
    print('This is first function')

In [31]:
m = test()

This is first function

In [32]:
m + 'sand'

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [33]:
def test():
    return 'This is my first program'

In [34]:
m = test()

In [35]:
m + 'sand'

'This is my first programsand'

In [38]:
def test9(n):
    return n,n*2

In [42]:
b = test9([4,5,6,7,8,9])

In [43]:
b

([4, 5, 6, 7, 8, 9], [4, 5, 6, 7, 8, 9, 4, 5, 6, 7, 8, 9])

In [44]:
b[0]

[4, 5, 6, 7, 8, 9]

In [45]:
b[1]

[4, 5, 6, 7, 8, 9, 4, 5, 6, 7, 8, 9]

In [55]:
def test1(n=10,m=90):
    return n + m

In [57]:
test1(1,2)

3

In [58]:
def boolx(x=True,y=False):
    return x + y

In [59]:
boolx()

1

In [60]:
boolx(False)

0

In [61]:
boolx(True,1)

2

In [62]:
def travel(bike =True,car=False):
    plan_travel = bike or car
    return bike,car,plan_travel

In [64]:
travel()

(True, False, True)

In [65]:
travel(False)

(False, False, False)

In [66]:
travel(car=True)

(True, True, True)

In [67]:
def test(*args, a='sam'):
    return args

In [68]:
test('sandeep','Rayudu','Mariana',)

('sandeep', 'Rayudu', 'Mariana')

In [69]:
test()

()

In [92]:

def test2(*args):
    lst = []
    for i in args:
        lst = lst + i
    return lst

In [93]:
test2([1,2,3],['Sand','sam'],[1,2])

[1, 2, 3, 'Sand', 'sam', 1, 2]

In [95]:
test2([1,2,3],[5,6,7])

[1, 2, 3, 5, 6, 7]

In [96]:
def test4(*args):
    return [ i for i in args]

In [97]:
test4([4,5,6],[4,9,6])

[[4, 5, 6], [4, 9, 6]]

In [105]:
def test2(*args):
    lst = []
    for i in args:
        if type(i) == list:
            lst = lst + i
    return lst

In [106]:
test2(5,6,'sand',['sand','mar'],['siva','rama'],{'sand':'sand'})

['sand', 'mar', 'siva', 'rama']

In [100]:
def test15(**kwargs):
    return kwargs

In [108]:
test15(name='sand',age = 27)

{'name': 'sand', 'age': 27}

In [111]:
integer = []
floating = []
string = []
lst = []
tup = []
def fun1(*args):
    for i in args:
        if type(i) == int:
            integer.append(i)
        if type(i) == float:
            floating.append(i)
        if type(i) == str:
            string.append(i)
        if type(i) == list:
            lst.append(i)
        else:
            tup.append(i)
    return integer,floating,string,lst,tup

In [112]:
fun1(1,2,'sand',.6,[1,2],(4,5,9),['sand','mar'])

([1, 2],
 [0.6],
 ['sand'],
 [[1, 2], ['sand', 'mar']],
 [1, 2, 'sand', 0.6, (4, 5, 9)])

In [113]:
def test1(**kwargs):
    return kwargs

In [115]:
test1(a = [1,2,3,4],b = 6,c = 7,d = 8,e = 9,f = [4,5,6])

{'a': [1, 2, 3, 4], 'b': 6, 'c': 7, 'd': 8, 'e': 9, 'f': [4, 5, 6]}